<div class="d-none d-md-block d-lg-block d-xl-block flex-sm-grow-1">
  <div class="input-group dropdown">
    <button
      class="btn btn-outline-primary border focus-ring focus-ring-primary dropdown-toggle d-flex align-items-center px-1 py-0"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      [disabled]="!options.length"
    >
      <mat-icon class="search-icon">search</mat-icon>
    </button>
    <ul class="dropdown-menu">
      <button
        class="dropdown-item fs-14"
        [ngClass]="{ active: item === active }"
        *ngFor="let item of options"
        (click)="active = item"
      >
        {{ OPTIONS[item] }}
      </button>
    </ul>
    <input
      #searchInput
      type="text"
      class="form-control flex-grow-1 dropdown-toggle search-input"
      aria-label="Global search text input"
      [disabled]="!options.length"
      [placeholder]="'Search in ' + (OPTIONS[active] || '/')"
      (appDebounceInput)="search($event)"
      [debounceTime]="500"
      (resetEvent)="reset()"
      [minimumCharacters]="3"
      (focus)="onFocus()"
      (focusout)="onFocusOut()"
    />
    <ul
      class="dropdown-menu search-result fs-14 p-1 text-body-secondary"
      #searchResult
      role="menu"
    >
      <li><h6 class="dropdown-header">Search results:</h6></li>
      <ng-container
        [ngTemplateOutlet]="!result.data ? loading : resultList"
        [ngTemplateOutletContext]="{ data: result.data }"
      ></ng-container>
      <li><hr class="dropdown-divider" /></li>
      <li class="dropdown-item disabled">in {{ OPTIONS[active] || '/' }}</li>
    </ul>
  </div>
  <span class="p-1 text-primary shortcut" [ngClass]="{ hide: selected }">
    <kbd class="bg-primary">Ctrl</kbd> + <kbd class="bg-primary">/</kbd>
  </span>
</div>

<div class="d-block h-100 d-md-none">
  <button
    class="btn btn-light w-100 h-100 rounded-0 shadow-sm d-flex align-items-center justify-content-center text-black-50"
    type="button"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>

<ng-template #loading>
  <li class="dropdown-item disabled placeholder-glow">
    <span class="placeholder col-6"></span>
  </li>
  <li class="dropdown-item disabled placeholder-glow">
    <span class="placeholder col-4"></span>
  </li>
</ng-template>

<ng-template #resultList let-data="data">
  <div class="overflow-y-auto custom-scrollbar" *ngIf="data.length">
    <li
      *ngFor="let item of data; let i = index"
      [id]="'searchResult' + i"
      class="dropdown-item cursor"
      [ngClass]="{ active: i === dropDownItemIndex }"
      tabindex="-1"
      (click)="navigate(i)"
      (keydown.enter)="navigate(i)"
    >
      <h4>{{ item.name }}</h4>
      <p>SKU: {{ item.sku }}</p>
    </li>
  </div>
  <p class="dropdown-item disabled" *ngIf="!data.length">No results found</p>
</ng-template>
