<div class="container-fluid px-16">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h2 fw-bold my-4 flex-grow-1">Inventory</h1>
    <div class="col-4">
      <app-global-search *ngIf="!showSearch"></app-global-search>
    </div>
    <div class="flex-grow-1"></div>
  </div>

  <ng-container [ngTemplateOutlet]="analytics"></ng-container>

  <nav class="navbar mb-3" *ngIf="tabs.length">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div class="nav-item dropdown">
        <button
          tabindex="-1"
          class="nav-link d-inline-flex"
          [attr.data-bs-toggle]="tab.dropdown ? 'dropdown' : null"
          [ngClass]="{
            'active dropdown-toggle': tabs[activeTabIdx].name === tab['name']
          }"
          (click)="onTabClick(i)"
          (keyup)="onTabClick(i)"
        >
          {{ tab['name'] }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item">Rename view</button>
          </li>

          <li>
            <button class="dropdown-item text-danger">Delete view</button>
          </li>
        </ul>
      </div>
    </ng-container>
  </nav>
</div>

<ng-template #analytics>
  <div class="rounded bg-secondary-subtle row pe-3 mx-0">
    <div
      class="card my-3 col flex-shrink-0 ms-3"
      *ngFor="let item of analyticsStructure"
    >
      <div class="row g-0">
        <div
          class="col-4 px-3 d-flex align-items-center justify-content-between"
        >
          <img
            class="img-fluid rounded-start"
            [ngSrc]="item.image"
            width="46"
            height="46"
            [alt]="item.name"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <ng-container *ngIf="(analyticsResponse$ | async) === null">
              <div class="placeholder-glow">
                <h4 class="placeholder col-4">.</h4>
              </div>
            </ng-container>
            <ng-container *ngIf="analyticsResponse$ | async as resp">
              <h4>{{ resp[item.key].amount }}</h4>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- bulk upload -->
<!-- <form
  class="container text-center my-4"
  (submit)="uploadFile(uploadForm)"
  #uploadForm="ngForm"
>
  <div class="row my-2">
    <div class="col-12 col-sm-8 mb-2 mb-sm-0">
      <input
        #fileInput
        class="form-control"
        name="uploadFile"
        type="file"
        [accept]="fileTypes"
        (change)="selectedFileInput = $event.target"
      />
    </div>
    <div class="col-12 col-sm-4">
      <app-o2-select
        [(ngModel)]="selectedOption"
        name="fileType"
        required
        [options]="fileOptions"
        placeholder="Select file type"
      >
      </app-o2-select>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary float-end"
    [disabled]="!uploadForm.form.valid || !fileInput.value"
  >
    Upload
  </button>
</form> -->
