<div class="d-flex flex-wrap">
  <form [formGroup]="filterForm">
    <div formArrayName="filters">
      <ng-container *ngFor="let filter of objectvalues(_filterData ?? {})">
        <ng-container *ngIf="filter.placement === 'out'">
          <ng-container *ngIf="filter.type === 'radio'">
            {{ filter.name }}
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <button
      class="btn more-filter-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#moreFilters"
      aria-controls="moreFilters"
    >
      <img ngSrc="src/assets/svg/filter.svg" alt="" width="24" height="24" />
      More Filters
    </button>

    <div
      class="offcanvas offcanvas-end br-s-8"
      tabindex="-1"
      id="moreFilters"
      aria-labelledby="moreFiltersLabel"
    >
      <div class="offcanvas-header border-bottom">
        <h1 class="h2 fs-18" id="moreFiltersLabel">Offcanvas</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div formArrayName="filters">
          <ng-container *ngFor="let filter of objectvalues(_filterData ?? {})">
            <ng-container *ngIf="filter.placement !== 'out'">
              <section class="mb-3" *ngIf="filter.type === 'radio'">
                <h5 class="fw-bold text-capitalize mb-2">
                  {{ filter?.label }}
                </h5>

                <label class="me-3 cursor" *ngFor="let data of filter.data">
                  <input
                    class="form-check-input radio-outlined me-1"
                    type="radio"
                    name="radioExample"
                  />
                  {{ data.display }}
                </label>
              </section>

              <section class="mb-3" *ngIf="filter.type === 'checkbox'">
                <h5 class="fw-bold text-capitalize mb-2">
                  {{ filter?.label }}
                </h5>

                <label class="me-3 cursor" *ngFor="let data of filter.data">
                  <input
                    class="form-check-input me-1"
                    type="checkbox"
                    value=""
                  />
                  {{ data.display }}
                </label>
              </section>

              <section class="mb-3" *ngIf="filter.type === 'select'">
                <h5 class="fw-bold text-capitalize mb-2">
                  {{ filter?.label }}
                </h5>

                <app-o2-select
                  [label]="filter.label"
                  [multiple]="filter.multiple ?? false"
                  [values]="filter.value"
                  [options]="filter.data"
                />
              </section>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
