<h1 class="content-heading mb-4">Package Details</h1>
<div class="content-data buyer">
  <h4 class="medium mb-3">
    Dead Weight
    <span class="text-black-50 ms-1 form-label-icon">
      <mat-icon>help</mat-icon>
    </span>
  </h4>
  <div class="row mb-3">
    <div class="col-md-3">
      <input type="number" class="form-control" placeholder="0.00" />
      <small class="ms-1 text-black-50">
        (Max. 3 digits after decimal place) </small
      ><br />
      <small class="ms-1 text-black-50">
        Note: The minimum chargeable weight is 0.50 Kg
      </small>
    </div>
  </div>
  <hr class="text-black-50 my-4" />
  <h4 class="medium mb-3">
    Volumetric Weight
    <span class="text-black-50 ms-1 form-label-icon">
      <mat-icon>help</mat-icon>
    </span>
  </h4>
  <div class="row mb-3">
    <div class="col-md-6">
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label class="form-label"
        >Enter packages dimensions to calculate Volumetric Weight</label
      >
      <div class="row mb-1">
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="0.00" />
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="0.00" />
        </div>
        <div class="col-md-4">
          <input type="number" class="form-control" placeholder="0.00" />
        </div>
      </div>
      <small class="text-black-50"
        >Note: Dimensions should be in centimeters only & values should be
        greater than 0.50 cm.</small
      >
    </div>
    <div class="col align-self-center text-center">OR</div>
    <div class="col-md-5">
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label class="form-label"
        >Select from your saved packages to autofill package dimensions</label
      >
      <div class="row">
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            placeholder="Select Package"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="highlight-section">
    Volumetric Weight <span class="ms-4">0.00 Kg</span>
  </div>
  <hr class="my-3 text-black-50" />
  <div class="highlight-section highlight2">
    <div class="medium mb-3">
      Applicable Weight <span class="ms-4"> 1.50 Kg</span>
    </div>
    <p class="text-black-50 fs-10px">
      *Applicable weight is the heavier among the two weights that is Dead
      Weight V/s the Volumetric Weight, basis on which freight charges are
      calculated.
    </p>
    <p class="text-black-50 fs-10px">
      *Final chargeable weight will be based on the weight slab of the courier
      selected before shipping
    </p>
  </div>
</div>
<div class="text-end">
  <button class="btn btn-outlined me-2 w-100px" (click)="onClickBack()">
    Back
  </button>
  <button class="btn btn-solid w-100px">Add Order</button>
</div>
