.select-box {
  border-bottom-left-radius: unset !important;
}

.actions-section {
  border-bottom-right-radius: unset !important;
  min-width: 8rem;
}

.cdk-row {
  margin-bottom: unset;
}

.cdk-cell {
  padding-bottom: unset;
}
