<div class="container-fluid auth-layout">
  <div class="row auth">
    <div class="text-center mt-5 mb-5">
      <img
        ngSrc="./assets/svg/srlogo.svg"
        alt="logo"
        width="200"
        height="42"
        fetchpriority="high"
        class=""
      />
    </div>

    <div class="col-11 col-md-8 col-lg-5 auth-card px-2rem">
      <div class="whiteBg">
        <div class="mx-auto mb-0 col-12">
          <span class="fs-12px">
            <a
              class="text-blue a-link"
              href="javascript:void(0);"
              (click)="
                backToLogin(showForgotPasswordForm ? 'login' : 'forgotpassword')
              "
            >
              <img
                class="w-12px position-relative"
                src="./assets/images/backbtn.png"
                alt="backimg"
                style="bottom: 1px"
              />
              Back
            </a>
          </span>

          <form
            tabindex="-1"
            [formGroup]="forgotPasswordForm"
            *ngIf="showForgotPasswordForm"
            (submit)="onForgotPasswordFormSubmit()"
            class="auth-form mb-lg"
          >
            <div class="d-grid gap-2 col-12">
              <h2 class="mt-3 mb-3">Forgot Your Password</h2>
              <p class="mb-1 SFProDisplay-Medium text-blackdark fs-12px">
                Enter your email or phone number (without extension) to receive
                OTP for password reset.
              </p>
              <div class="mt-3 mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="emailOrPhoneNumber"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="none"
                  spellcheck="false"
                  id="email"
                  placeholder="Enter email or phone number"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    ctrlByNameForForgotPasswordForm('emailOrPhoneNumber')
                      .errors?.['serverError']
                  "
                >
                  {{
                    ctrlByNameForForgotPasswordForm('emailOrPhoneNumber')
                      .errors?.['serverError']
                  }}
                </span>
              </div>
              <input
                class="btn btn-solid h-40px"
                type="submit"
                value="Send OTP"
                [disabled]="
                  !ctrlByNameForForgotPasswordForm('emailOrPhoneNumber').value
                "
              />

              <div
                class="centered col-md-12 col-xs-12 fs-14px pr-sm mt-15 SFProDisplay-Regular"
                style="color: #969696"
              >
                Remember the password?
                <a
                  class="text-blue mx-2 a-link"
                  href="javascript:void(0);"
                  (click)="backToLogin('login')"
                  >Login</a
                >
              </div>
            </div>
          </form>

          <form
            tabindex="-1"
            [formGroup]="forgotPasswordOTPForm"
            *ngIf="showOTPForm"
            (submit)="onOTPFormSubmit()"
            class="auth-form mb-lg"
          >
            <div class="d-grid gap-2 col-12">
              <h2 class="mt-3 mb-3">Enter OTP</h2>
              <p class="mb-1 SFProDisplay-Medium text-blackdark fs-12px">
                OTP sent to <b>{{ email }}</b> and <b>{{ phoneNumber }}</b>
              </p>
              <div class="mt-3 mb-3">
                <input type="hidden" formControlName="otp" />
                <app-otp-input
                  class="digit-group"
                  (isvalid)="getOtpState($event)"
                  (values)="getOtpInputs($event)"
                >
                </app-otp-input>
                <span
                  class="text-danger mt-1"
                  *ngIf="
                    ctrlByNameForForgotPasswordOTPForm('otp').errors?.[
                      'serverError'
                    ]
                  "
                >
                  {{
                    ctrlByNameForForgotPasswordOTPForm('otp').errors?.[
                      'serverError'
                    ]
                  }}
                </span>
                <div class="mt-2 d-flex justify-content-between">
                  <p
                    *ngIf="!timerflag"
                    class="SFProDisplay-Regular fs-12px mb-3"
                    style="color: rgba(0, 0, 0, 0.6)"
                  >
                    Didn't Received OTP?
                    <a
                      class="a-link link-primary fs-12 pointer mx-2"
                      (click)="resendOTP()"
                      ><b>Resend OTP</b></a
                    >
                  </p>
                  <p
                    *ngIf="timerflag"
                    class="ml-auto fs-12px SFProDisplay-Regular mb-3 ms-auto"
                  >
                    <img
                      src="./assets/images/timer.png"
                      height="10"
                      width="10"
                    />
                    00 :
                    {{
                      countdown < 10 ? '0' + countdown : countdown.toString()
                    }}
                  </p>
                </div>
              </div>
              <input
                class="btn btn-solid h-40px"
                type="submit"
                value="Reset"
                [disabled]="
                  !ctrlByNameForForgotPasswordOTPForm('otp').value ||
                  !ctrlByNameForForgotPasswordOTPForm('otp').valid
                "
              />
            </div>
          </form>

          <form
            tabindex="-1"
            [formGroup]="resetPasswordForm"
            *ngIf="showResetPasswordForm"
            (submit)="onSubmitResetPasswordForm()"
            class="auth-form mb-lg"
          >
            <div class="d-grid gap-2 col-12">
              <h2 class="my-3">Reset Password</h2>

              <div>
                <label for="newPassword" class="form-label"
                  >Enter New Password</label
                >
                <input
                  type="password"
                  id="newPassword"
                  class="form-control"
                  formControlName="newPassword"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="none"
                  spellcheck="false"
                  placeholder="Enter New Password"
                />
                <div
                  *ngFor="
                    let validation of resetPasswordValidationMessage.newPassword
                  "
                  class="text-danger col-12"
                >
                  <span
                    *ngIf="
                      ctrlByNameForResetPasswordForm('newPassword').hasError(
                        validation.type
                      ) && ctrlByNameForResetPasswordForm('newPassword').dirty
                    "
                  >
                    {{ validation.message }}
                  </span>
                </div>
              </div>

              <div class="mt-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="none"
                  spellcheck="false"
                  placeholder="Re-enter new password"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    ctrlByNameForResetPasswordForm('confirmPassword').dirty &&
                    ctrlByNameForResetPasswordForm('confirmPassword').errors?.[
                      'required'
                    ]
                  "
                >
                  {{
                    ctrlByNameForResetPasswordForm('confirmPassword').errors?.[
                      'required'
                    ]
                  }}
                </span>
                <div
                  *ngFor="
                    let validation of resetPasswordValidationMessage.confirmPassword
                  "
                  class="text-danger col-12"
                >
                  <span
                    *ngIf="
                      ctrlByNameForResetPasswordForm(
                        'confirmPassword'
                      ).hasError(validation.type) &&
                      ctrlByNameForResetPasswordForm('confirmPassword').dirty
                    "
                  >
                    {{ validation.message }}
                  </span>
                </div>
              </div>
              <span
                class="text-danger mt-1"
                *ngIf="this.resetPasswordForm.errors?.['serverError']"
              >
                {{ this.resetPasswordForm.errors?.['serverError'] }}
              </span>

              <input
                class="btn btn-solid h-40px mt-3"
                type="submit"
                value="Confirm Password"
                [disabled]="
                  !ctrlByNameForResetPasswordForm('newPassword').value ||
                  !ctrlByNameForResetPasswordForm('newPassword').valid ||
                  !ctrlByNameForResetPasswordForm('confirmPassword').value ||
                  !ctrlByNameForResetPasswordForm('confirmPassword').valid
                "
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="text-center mt-3 footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
