<div class="container-fluid px-0 auth-container fs-14">
  <div class="row auth">
    <div class="col-10 col-md-8 col-lg-5 auth-card">
      <div class="auth-logo">
        <img
          ngSrc="../assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
        />
      </div>

      <form autocomplete="off" class="auth-form">
        <div class="text-center auth-heading">
          <h1>Forgot Password</h1>
          <p>Please enter your registered email id below to reset password</p>
        </div>
        <div class="custom-input-goup mb-3">
          <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
          <input
            type="text"
            class="form-control custom-input pl-2rem"
            placeholder="Enter registered email ID*"
          />
        </div>

        <div class="d-grid gap-2">
          <button class="btn auth-btn" type="button">Reset Password</button>
        </div>

        <div class="divider"><span>OR</span></div>
        <div class="auth-note mb-2">
          If you're not a registered user, please contact
          <a class="a-link" href="mailto:support@gscmaven.com"
            >support@gscmaven.com</a
          >
        </div>

        <div class="auth-note">
          Go to
          <a routerLink="/login" class="a-link fs-14">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
