<div class="container-fluid px-0 auth-container fs-14">
  <div class="row auth">
    <div class="col-10 col-md-8 col-lg-5 auth-card position-relative">
      <div class="auth-logo">
        <img
          ngSrc="./assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
        />
      </div>

      <form
        tabindex="-1"
        [formGroup]="userForm"
        (submit)="onSubmit()"
        (keyup.enter)="onSubmit()"
        autocomplete="off"
        class="auth-form"
      >
        <div
          [hidden]="!hideResetForm"
          class="bg-success-subtle p-4 text-center border border-success rounded fadeIn"
        >
          <p>
            An email has been sent to your mailbox for password reset. If you
            have not received the link then click on resend.
          </p>
          <a
            class="a-link"
            role="button"
            (click)="resetPassword()"
            href="javascript:void(0);"
            >Resend Link</a
          >
        </div>

        <div [hidden]="hideResetForm">
          <div class="text-center auth-heading">
            <h1>Forgot Password</h1>
            <p>Please enter your registered email ID below to reset password</p>
          </div>
          <div class="custom-input-goup mb-3">
            <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
            <input
              type="text"
              formControlName="email"
              class="form-control custom-input pl-2rem"
              placeholder="Enter registered email ID*"
            />
            <div *ngIf="ctrlByName('email').dirty">
              <small
                class="text-danger"
                *ngIf="ctrlByName('email').hasError('email')"
                >Email ID is invalid</small
              >
              <small
                class="text-danger"
                *ngIf="ctrlByName('email').hasError('required')"
                >Email ID is required</small
              >
            </div>
          </div>

          <div class="d-grid gap-2">
            <button class="btn auth-btn" type="submit">Reset Password</button>
          </div>
        </div>

        <div class="divider"><span>OR</span></div>
        <div class="auth-note mb-2">
          If you're not a registered user, please contact
          <a class="a-link" href="mailto:support@gscmaven.com"
            >support@gscmaven.com</a
          >
        </div>

        <div class="auth-note">
          Go to
          <a routerLink="/login" class="a-link fs-14">Login</a>
        </div>
      </form>
      <div class="text-center position-absolute w-100 l-0 mt-3">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
