<button
  #trigger
  class="btn more-filter-btn"
  type="button"
  (click)="toggleDropd()"
>
  <img ngSrc="src/assets/svg/calendar.svg" alt="" width="24" height="24" />
  {{ formatValue(selectedValues) }}
  <mat-icon class="ms-auto">expand_more</mat-icon>
</button>

<ng-template #portal>
  <section class="position-absolute">
    <div class="o2-listbox-container d-flex">
      <ul
        cdkListbox
        [(ngModel)]="selectedValues"
        (cdkListboxValueChange)="onSelectionChange($event)"
        class="o2-listbox bg-white"
      >
        <li
          *ngFor="let option of options"
          [cdkOption]="option"
          class="o2-option range-select"
        >
          {{ option.label }}
        </li>

        <div class="d-flex align-items-center info-section ps-2">
          <mat-icon class="fs-6 text-warning me-2">info_outline</mat-icon>
          <span class="text-wrap"
            >Data can be viewed only for a period of upto 1 year</span
          >
        </div>
      </ul>
      <section class="right-section">
        <div
          class="bg-warning-subtle d-flex align-items-center justify-content-between p-1 px-2 mb-2"
        >
          Please select the year you want to view data for
          <app-o2-select
            className="border-0"
            [formControl]="selectedYear"
            [options]="yearOptions"
          />
        </div>
        <section class="calendar">
          <div class="calendar-one me-2">
            <mat-calendar
              #calendarOne
              [minDate]="minDate"
              [maxDate]="maxDate"
              [selected]="selectedDateRange"
              [startAt]="minDate"
              [headerComponent]="header"
              (selectedChange)="onDateChange($event)"
            ></mat-calendar>
          </div>
          <div class="calendar-two">
            <mat-calendar
              #calendarTwo
              [minDate]="minDate"
              [maxDate]="maxDate"
              [selected]="selectedDateRange"
              [headerComponent]="header"
              (selectedChange)="onDateChange($event)"
            ></mat-calendar>
          </div>
        </section>
        <hr class="m-0 mt-2 text-muted" />
        <div class="d-flex align-items-center justify-content-between p-2 py-3">
          <div>
            <span class="text-primary">Selected:</span>
            {{ selectedDateRange?.start | date: 'dd-MM-YYYY' }}
            <span class="text-muted">to</span>
            {{ selectedDateRange?.end | date: 'dd-MM-YYYY' }}
          </div>
          <div>
            <button class="btn btn-outlined_sm me-2">Cancel</button>
            <button class="btn btn-solid_sm">Apply</button>
          </div>
        </div>
      </section>
    </div>
  </section>
</ng-template>
