<mat-drawer-container class="o2-layout">
  <mat-drawer
    class="o2-sidebar overflow-x-hidden"
    mode="side"
    opened
    [ngClass]="(layoutService.sideBarOpen | async) ? 'open' : 'close'"
    (mouseenter)="sidebarOpen = true"
    (mouseleave)="sidebarOpen = false"
    color="drawer-background"
  >
    <app-sidebar class="d-flex h-100" />
  </mat-drawer>
  <mat-drawer-content class="o2-layout-content d-flex flex-column">
    <button
      *ngIf="layoutService.sideBarOpen | async"
      class="o2-backdrop border-0 p-0"
      (click)="close()"
      aria-label="Backdrop"
    ></button>
    <app-header />
    <div class="o2-body overflow-auto custom-scrollbar flex-grow-1">
      <router-outlet></router-outlet>
    </div>
    <app-footer class="d-lg-none d-md-none d-flex h-vh-6" />
  </mat-drawer-content>
</mat-drawer-container>

<!-- global search modal -->
<div
  class="modal fade"
  id="globalSearchModal"
  tabindex="-1"
  aria-labelledby="globalSearchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="globalSearchModalLabel">Search</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
