@forward '../single-order.component.scss';
@use '../../../../../styles/utils' as u;

.input-icon {
  position: relative;

  & .mat-icon {
    position: absolute;
    top: u.rem(6);
    left: u.rem(20);
    opacity: 0.8;
  }

  & input[type='search'] {
    padding-left: u.rem(40);
    background: u.$bg-color;
  }
}

.buyer {
  input[type='text'] {
    &:read-only {
      background: u.$bg-color;
    }
  }
}
