<div class="container-fluid px-0 auth-container fs-14">
  <div class="row py-5 justify-content-center">
    <div class="col-12 text-center mb-4 position-relative">
      <img
        ngSrc="./assets/images/logo-big.png"
        alt="logo"
        width="300"
        height="60"
        style="width: auto"
        priority
      />
      <span class="fw-light position-absolute">Beta</span>
    </div>
    <div class="col-10 col-md-8 col-lg-5 auth-card text-center">
      <ng-container
        [ngTemplateOutlet]="verificationFailed ? failed : resetForm"
      ></ng-container>
    </div>
    <p class="text-center mt-4 fw-light footer">
      <app-footer></app-footer>
    </p>
  </div>
</div>

<ng-template #failed>
  <div class="p-4 reset-failed">
    <h1>Verification Failed</h1>
    <!-- <mat-icon class="material-icons-outlined text-danger mb-4">cancel</mat-icon> -->
    <p>Verification Failed</p>
    <a
      class="a-link text-info"
      (click)="resendLink()"
      href="javascript:void(0);"
      >Resend Activation Link</a
    >

    <hr />
    <p class="text-muted fw-light">
      <span class="text-dark fw-normal"> Questions? Connect with us. </span>
      <br />
      Email Support:
      <a
        class="text-decoration-none link-blue"
        href="mailto:support@gscmaven.com"
        >support@gscmaven.com</a
      >
      | Call:
      <a class="text-decoration-none link-blue" href="tel:+01125712345"
        >011 25712345</a
      >
    </p>
  </div>
</ng-template>

<ng-template #resetForm>
  <div
    *ngIf="resetSuccess"
    class="w-75 mx-auto rounded fs-6 mt-4 p-4 bg-success-subtle"
  >
    You have created a new password
    <br />
    Please <a class="a-link" href="/login">login</a> again.
  </div>

  <form
    tabindex="-1"
    [formGroup]="userForm"
    (submit)="onSubmit()"
    (keyup.enter)="onSubmit()"
    autocomplete="off"
    class="auth-form"
  >
    <div>
      <div class="text-center auth-heading mb-4">
        <h1>Reset Password</h1>
      </div>
      <div class="custom-input-goup mb-3">
        <!-- <mat-icon class="fs-5 input-icon-s">key</mat-icon> -->
        <input
          type="password"
          formControlName="password"
          class="form-control custom-input pl-2rem"
          placeholder="Enter password*"
        />
        <div
          class="text-start text-danger"
          *ngIf="ctrlByName('password').dirty"
        >
          <small *ngIf="ctrlByName('password').hasError('required')"
            >Password is required <br
          /></small>
          <small *ngIf="ctrlByName('password').hasError('minlength')"
            >Password must be at least 8 characters long <br
          /></small>
          <small *ngIf="ctrlByName('password').hasError('pattern')">
            Password should contain one letter,one character and one special
            character
          </small>
        </div>
      </div>

      <div class="custom-input-goup mb-3">
        <!-- <mat-icon class="fs-5 input-icon-s">key</mat-icon> -->
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control custom-input pl-2rem"
          placeholder="Enter confirm password*"
        />
        <div
          class="text-start text-danger"
          *ngIf="ctrlByName('confirmPassword').dirty"
        >
          <small *ngIf="ctrlByName('confirmPassword').hasError('required')"
            >Confirm Password is required
            <br />
          </small>
          <small *ngIf="ctrlByName('confirmPassword').hasError('mismatch')">
            Please re-enter the password, your passwords don't match
          </small>
        </div>
      </div>

      <div class="d-grid gap-2 mt-4">
        <button
          [disabled]="userForm.disabled || resetSuccess"
          class="btn auth-btn"
          type="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>
