.auth-container {
  background: url('../../../../assets/images/bg-image2.jpg');
}

.reset-failed {
  h1 {
    font-size: 28px;
  }
  .mat-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }

  .a-link {
    font-size: 18px;
  }
}

::ng-deep .footer {
  small {
    color: black !important;
  }
}
