<div class="d-none d-md-block d-lg-block d-xl-block flex-sm-grow-1">
  <button
    class="btn btn-light shadow-sm d-flex text-black-50"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#globalSearchModal"
  >
    <mat-icon>search</mat-icon>
    <span class="d-inline-block ms-2 me-4"
      >Search Order, AWB, SKU or Customer</span
    >
  </button>
</div>

<div class="d-block h-100 d-md-none">
  <button
    class="btn btn-light w-100 h-100 rounded-0 shadow-sm d-flex align-items-center justify-content-center text-black-50"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#globalSearchModal"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
