@use '../utils' as u;

:root {
  --orange-gra: radial-gradient(#efd6a6 10%, #ffa800 100%);
  --orange-gra-op: radial-gradient(#ffa800 10%, #efd6a6 100%);
  --pink-gra: radial-gradient(rgba(255, 102, 55, 0.42) 15%, #f0592b 100%);
  --pink-gra-op: radial-gradient(#f0592b 15%, rgba(255, 102, 55, 0.42) 100%);
  --light-blue-gra: radial-gradient(#b4e1f1 15%, #18bbf1 100%);
  --light-blue-gra-op: radial-gradient(#18bbf1 15%, #b4e1f1 100%);
  --bx-shd: 0px 12px 20px -11px #b4b4b4;
  --bx-shd-hv: 0px 18px 20px -8px #b4b4b4;
}

.custom-input {
  background-color: inherit;
  width: 100%;
  font-size: u.rem(14);
  font-weight: 400;
  height: auto;
  padding-bottom: u.rem(7);
  color: #30373b;
  border: none;
  box-shadow: none;
  border-radius: 0px !important;
  border-bottom: 1px solid u.$color7 !important;

  &:focus {
    border-bottom: 1px solid u.$color1 !important;
    outline: none !important;
    box-shadow: unset;
  }

  &::placeholder {
    color: u.$color2;
  }
}

.custom-input-goup {
  position: relative;

  .input-icon-s {
    position: absolute;
    z-index: 6;
    color: u.$color2;
    top: u.rem(7);
    left: u.rem(6);
  }

  input[type='text'] {
    @extend .custom-input;
  }
}

.fs-14 {
  font-size: u.rem(14);
}

.pl-2rem {
  padding-left: 2rem;
}

.a-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link-blue {
  color: u.$color3;
  &:hover {
    color: u.$color4;
  }
}

.text-maven1 {
  color: u.$color5;
}

.mt-4rem {
  margin-top: 4rem;
}

.icon-btn1 {
  height: u.rem(28);
  width: u.rem(28);
  background: u.$color9;
  color: u.$color2;
  border-radius: 50%;
}

.cursor {
  cursor: pointer;
}

.fadeIn {
  animation: fadeInFromNone 0.7s ease-out;
}

.slideDown {
  animation: 0.7s ease-out 0s 1 slideInFromTop;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.l-0 {
  left: 0;
}

.eye {
  input {
    padding-right: u.rem(30);
  }

  .mat-icon {
    position: absolute;
    right: u.rem(10);
    width: u.rem(14) !important;
    height: u.rem(14) !important;
    color: u.$neutral2a;
    font-size: u.rem(14);
    bottom: u.rem(30);
    cursor: pointer;
  }
}

label.required::after {
  color: u.$secondary2;
  content: ' *';
  display: inline;
}
