@use '../utils' as u;

:root {
  --orange-gra: radial-gradient(#efd6a6 10%, #ffa800 100%);
  --orange-gra-op: radial-gradient(#ffa800 10%, #efd6a6 100%);
  --pink-gra: radial-gradient(rgba(255, 102, 55, 0.42) 15%, #f0592b 100%);
  --pink-gra-op: radial-gradient(#f0592b 15%, rgba(255, 102, 55, 0.42) 100%);
  --light-blue-gra: radial-gradient(#b4e1f1 15%, #18bbf1 100%);
  --light-blue-gra-op: radial-gradient(#18bbf1 15%, #b4e1f1 100%);
  --bx-shd: 0px 12px 20px -11px #b4b4b4;
  --bx-shd-hv: 0px 18px 20px -8px #b4b4b4;
}

.custom-input {
  background-color: inherit;
  width: 100%;
  font-size: u.rem(14);
  font-weight: 400;
  height: auto;
  padding-bottom: u.rem(7);
  color: #30373b;
  border: none;
  box-shadow: none;
  border-radius: 0px !important;
  border-bottom: 1px solid u.$color7 !important;

  &:focus {
    border-bottom: 1px solid u.$color1 !important;
    outline: none !important;
    box-shadow: unset;
  }

  &::placeholder {
    color: u.$color2;
  }
}

.custom-input-goup {
  position: relative;

  .input-icon-s {
    position: absolute;
    z-index: 6;
    color: u.$color2;
    top: u.rem(7);
    left: u.rem(6);
  }

  input[type='text'] {
    @extend .custom-input;
  }
}

.fs-14 {
  font-size: u.rem(14);
}

.pl-2rem {
  padding-left: 2rem;
}

.a-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.link-blue {
  color: u.$color3;

  &:hover {
    color: u.$color4;
  }
}

.text-maven1 {
  color: u.$color5;
}

.mt-4rem {
  margin-top: 4rem;
}

.icon-btn1 {
  height: u.rem(28);
  width: u.rem(28);
  background: u.$color9;
  color: u.$color2;
  border-radius: 50%;
}

.cursor {
  cursor: pointer;
}

.fadeIn {
  animation: fadeInFromNone 0.7s ease-out;
}

.slideDown {
  animation: 0.7s ease-out 0s 1 slideInFromTop;
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.l-0 {
  left: 0;
}

.eye {
  input {
    padding-right: u.rem(30);
  }

  .mat-icon {
    position: absolute;
    right: u.rem(10);
    width: u.rem(14) !important;
    height: u.rem(14) !important;
    color: u.$neutral2a;
    font-size: u.rem(14);
    bottom: u.rem(30);
    cursor: pointer;
  }
}

label.required::after {
  color: u.$secondary2;
  content: ' *';
  display: inline;
}

.font-weight-bold {
  font-weight: 500 !important;
}

@media (min-width: 768px) {
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important;
  }
}

.ptb {
  &-tenpx {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media screen and (min-width: 401px) {
  .resposive-position {
    top: 33px;
    left: 92%;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .resposive-position {
    top: 30px;
    left: 88% !important;
  }
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.pointer:hover {
  cursor: pointer;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

//Circle Border
.rounded-10px {
  border-radius: 8px !important;
}

.rounded-5rem {
  border-radius: 5rem;
}

.mb-lg {
  margin-bottom: 15px !important;
}

$BaseBG: #ffffff;

.digit-group {
  input {
    width: 60px;
    max-width: 12%;
    height: 40px;
    background-color: lighten($BaseBG, 5%);
    border: none;
    // line-height: 50px;
    text-align: center;
    font-size: 12px;
    // font-family: 'Raleway', sans-serif;
    // font-weight: 200;
    color: black;
    // margin: 0 2px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
  }
}

.fs-12px {
  font-size: u.rem(12);
}

.fs-14px {
  font-size: u.rem(14);
}

.font-16,
.font-medium-16 {
  font-size: u.rem(16);
}
.w-12px {
  width: 12px;
}

.h-40px {
  height: 40px;
}

img {
  vertical-align: middle;
  align-items: center;
  max-width: 100%;
  max-height: none;
  box-shadow: none;
  border-radius: initial;
}

.w-20px {
  width: 20px;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.px-2rem {
  padding: 2.2rem !important;
}

@media screen and (min-width: 992px) {
  .px-2rem {
    padding: 2.2rem !important;
  }
}

.eye {
  .mat-icon {
    bottom: 0.8rem;
  }
}

.fs-16px {
  font-size: 16px !important;
}

.fs-20px {
  font-size: 20px !important;
}
.fs-42px {
  font-size: 42px;
}

.fw-500 {
  font-weight: 500;
}

.dashed-border {
  border: 1px dashed #d3d3d3;
  display: inline-block;
  width: calc(50% - 1rem);
}

@media (min-width: 768px) {
  .order-m-1 {
    order: 1;
  }
  .order-m-2 {
    order: 2;
  }
}
@media (max-width: 768px) {
  .order-s-1 {
    order: 1;
  }
  .order-s-2 {
    order: 2;
  }
}

@media (max-width: 768px) {
  .tc-s {
    text-align: center;
  }
  .tl-s {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .tc-m {
    text-align: center;
  }
  .tl-m {
    text-align: left;
  }
}

// Social CSS

.btn-social.btn-border {
  border: 1px solid #dcdcdc;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SFProDisplay-Regular;
}

.list-style-type-none {
  list-style-type: none;
}
