@use '../utils' as u;

// .o2-table {
//   display: table;
//   width: 100%;
//   border-spacing: 0 0.5rem;

//   .o2-header-row,
//   .o2-row {
//     display: table-row;
//   }

//   .cdk-cell,
//   .cdk-header-cell {
//     display: table-cell;
//     padding: u.rem(16);
//     text-align: left;
//     background-color: #fff;
//   }

//   .cdk-header-cell {
//     font-weight: 500;
//   }

//   .cdk-cell:first-child,
//   .cdk-header-cell:first-child {
//     width: 3rem;
//   }
//   .cdk-cell:first-child,
//   .cdk-header-cell:first-child {
//     border-top-left-radius: u.rem(8);
//     border-bottom-left-radius: u.rem(8);
//   }
//   .cdk-cell:last-child,
//   .cdk-header-cell:last-child {
//     border-top-right-radius: u.rem(8);
//     border-bottom-right-radius: u.rem(8);
//   }
// }

.o2-table {
  display: block;

  cdk-row,
  cdk-header-row,
  cdk-footer-row {
    display: flex;
  }

  .cdk-row {
    margin-bottom: 0.5rem;
  }

  .cdk-header-row {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .expand-row {
    margin-bottom: 0.5rem;
    background-color: transparent;

    & > .cdk-cell:first-child {
      border-top-left-radius: unset;
      border-bottom-left-radius: u.rem(8);
    }
    & > .cdk-cell:last-child {
      border-top-right-radius: unset;
      border-bottom-right-radius: u.rem(8);
    }
  }

  cdk-cell,
  cdk-header-cell,
  cdk-footer-cell {
    flex: 1;
    padding: u.rem(16);
    text-align: left;
    background-color: #fff;
  }

  .cdk-cell:first-child {
    border-top-left-radius: u.rem(8);
  }

  .cdk-cell:first-child,
  .cdk-header-cell:first-child {
    border-top-left-radius: u.rem(8);
    border-bottom-left-radius: u.rem(8);
  }

  .cdk-cell:last-child,
  .cdk-header-cell:last-child {
    border-top-right-radius: u.rem(8);
    border-bottom-right-radius: u.rem(8);
  }
}
