<div class="container d-flex my-4">
  <section>
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div class="tab" [ngClass]="{ active: currentTab === i }">
        <span *ngIf="tab.status !== 0" class="num-icon">{{ i + 1 }}</span>
        <mat-icon class="done" *ngIf="tab.status === 0">check_circle</mat-icon>
        {{ tab.name }}
      </div>
    </ng-container>
  </section>
  <section class="content">
    <app-buyer-details *ngIf="currentTab === 0"></app-buyer-details>
    <app-pickup-details *ngIf="currentTab === 1"></app-pickup-details>
    <app-order-details *ngIf="currentTab === 2"></app-order-details>
    <app-package-details *ngIf="currentTab === 3"></app-package-details>
  </section>
</div>
