@use '../../../../styles/utils' as u;

.done.mat-icon {
  font-size: u.rem(22);
  height: u.rem(22);
  width: u.rem(22);
  color: u.$secondary1;
  margin-right: u.rem(10);
}

.num-icon {
  font-size: u.rem(12);
  width: u.rem(22);
  height: u.rem(22);
  line-height: u.rem(22);
  border-radius: 50%;
  border: 1px solid u.$neutral3c;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  margin-right: u.rem(10);
}

.tab {
  font-size: u.rem(14);
  color: u.$neutral3b;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.active,
.active .num-icon {
  color: u.$neutral2;
  border-color: u.$primary1;
}

.content {
  & .content-heading {
    font-size: 20px;
    font-weight: bold;
  }

  & .content-data {
    padding: 3em;
    background-color: white;
    border-radius: u.rem(13);
    margin-bottom: u.rem(13);
  }
}

.w-100px {
  width: u.rem(100);
}

.expand_more {
  font-size: u.rem(20);
  height: u.rem(20);
  width: u.rem(20);
}

.highlight-section {
  background-color: u.$secondary5b;
  font-size: u.rem(14);
  padding: 1rem;
  border-radius: u.rem(6);
}

.highlight2 {
  background-color: rgba($color: u.$secondary4b, $alpha: 0.3);
}

.left-section {
  width: 20%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

input.ng-invalid.ng-touched {
  border-color: u.$secondary2;
}

.text-red {
  color: var(--secondary2) !important;
}
