$color1: rgba(217, 84, 75);
$color2: #989898;
$color3: #00ace4;
$color4: #23527c;
$color5: #f0592b;
$color6: #676767;
$color7: #ccc;
$color8: #f7f7f7;
$color9: #f3f3f3;

$gra1: radial-gradient(#efd6a6 10%, #ffa800 100%);
$gra2: radial-gradient(#b4e1f1 15%, #e8f7fc 100%);
$gra3: radial-gradient(#fba9b7 15%, #d95066 100%);
