@use '../../../../styles/utils' as u;

.signup-success {
  .mat-icon {
    width: u.rem(56);
    height: u.rem(56);
    font-size: u.rem(56);
    color: u.$color10;
  }

  h1 {
    font-size: u.rem(27);
    color: u.$color10;
  }
}

::ng-deep .footer {
  & small {
    color: var(--bs-gray-900) !important;
  }
}
.bg-blueclr {
  background-color: u.$secondary5c;
}

.product-detail.active {
  border: 1px solid u.$primary1;
  box-shadow: 0 2px 26px 0 u.$color14;
}

.product-detail {
  margin: 10px 52px 24px 0;
  padding: 20px 35px;
  border-radius: 16px;
  border: 1px solid u.$neutral3c;
  cursor: pointer;
}

.product-detail h3 {
  font-size: 18px;
  font-weight: 500;
  // font-family: SFProDisplay-Semibold;
  color: u.$neutral1;
}
.product-detail.active h3 {
  color: u.$primary1;
}

.orderSection {
  background-color: u.$color12;
  & h2 {
    font-weight: 600;
  }
  & h3 {
    font-weight: 500;
  }
}

@media screen and (max-width: 575px) {
  .setFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.finger_box {
  margin-bottom: u.rem(20);
  & h3 {
    margin-bottom: u.rem(5);
  }
  @media screen and (min-width: 575px) {
    & h3 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 575px) {
    & h3 {
      font-size: 17px;
      font-weight: 400;
      text-align: center;
    }
  }
  p {
    font-size: 14px;
    color: u.$neutral2;
  }
}

.custm-banner {
  background: url(/src/assets/svg/signup-back.svg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px;
  color: u.$neutral4;
  @media screen and (max-width: 575px) {
    // For upto xs screens size
    height: 230px;
  }
  @media screen and (min-width: 576px) {
    // For above xs screens size
    height: 230px;
  }

  & a {
    background: u.$neutral4;
    height: 50px;
    color: u.$primary1;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 44px 13px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  & h3 {
    text-align: center;
    font-weight: 600;
    margin-top: u.rem(40);
  }
}

.signUpChannelsSection {
  background-color: u.$color12;
  h3 {
    text-align: center;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}

.signupFooter {
  background-color: u.$color13;
  color: u.$neutral4 !important;
  & p {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 0;
    color: u.$neutral5;
  }
}

.form-control.ng-invalid.ng-dirty {
  border: 1px solid u.$secondary2;
  // padding-right: calc(1.5em + 0.75rem) !important;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  // background-repeat: no-repeat;
  // background-position: right calc(0.375em + 0.1875rem) center;
  // background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  &:focus {
    border-color: u.$primary1;
  }
}
// .form-control.is-invalid,
// .was-validated .form-control:invalid {
//   border-color: #dc3545;
//   padding-right: calc(1.5em + 0.75rem) !important;
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-position: right calc(0.375em + 0.1875rem) center;
//   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
// }
