@use '../../../../styles/utils' as u;

::ng-deep {
  .maven_checkbox {
    .mdc-checkbox
      .mdc-checkbox__native-control:enabled:not(:checked):not(
        :indeterminate
      ):not([data-indeterminate='true'])
      ~ .mdc-checkbox__background {
      border-color: u.$color5;
    }

    .mdc-checkbox
      .mdc-checkbox__native-control:enabled:checked
      ~ .mdc-checkbox__background {
      border-color: u.$color5 !important;
      background-color: u.$color5 !important;
    }

    .mdc-checkbox
      .mdc-checkbox__native-control:enabled
      ~ .mdc-checkbox__background
      .mdc-checkbox__checkmark {
      color: white;
    }
  }

  .auth-app__checkbox {
    .maven_checkbox {
      .mdc-checkbox
        .mdc-checkbox__native-control:enabled:not(:checked):not(
          :indeterminate
        ):not([data-indeterminate='true'])
        ~ .mdc-checkbox__background {
        border-color: unset;
      }
    }
  }
}

.signup-success {
  .mat-icon {
    width: u.rem(56);
    height: u.rem(56);
    font-size: u.rem(56);
    color: u.$color10;
  }

  h1 {
    font-size: u.rem(27);
    color: u.$color10;
  }
}
