<div class="container-fluid auth-layout">
  <div class="container">
    <div class="row auth">
      <div class="tl-m tc-s mt-5">
        <img
          ngSrc="./assets/svg/srlogo.svg"
          alt="logo"
          width="200"
          height="42"
          fetchpriority="high"
          class=""
        />
      </div>

      <div
        class="col-md-6 col-lg-6 col-sm-9 col-xs-9 auth-card signup px-2rem order-m-2 order-s-1"
      >
        <div class="panel-body">
          <h3
            class="text-center SFProDisplay-Semibold text-left text-blackdark fs-20px mt-2 mt-md-3 mb-4 font-weight-bold"
          >
            Get started with a free account
          </h3>
        </div>
        <!--Small Screen Socail Media Icons -->
        <div class="row d-flex d-md-none mt-15 justify-content-center">
          <div class="col col-3 mb-2 text-center text-opacity-90">
            <button
              class="btn mb-1 btn-light rounded-5rem border bg-white fs-14px py-2"
              (click)="registerWithGoogle()"
            >
              <img
                class="w-20px"
                src="./assets/images/google.png"
                alt="google"
                width="20px"
                height="20px"
              />
            </button>
            <br />
            Google
          </div>
          <div class="col col-3 mb-2 text-opacity-90">
            <button
              class="btn mb-1 btn-light rounded-5rem border bg-white fs-14px py-2"
              (click)="registerWithShopify()"
            >
              <img
                class="w-20px"
                src="./assets/images/shopify-sm.svg"
                alt="Shopify"
                width="20px"
                height="20px"
              />
            </button>
            <br />
            Shopofy
          </div>
        </div>
        <div class="socialMediaTabs">
          <div class="row d-none d-md-flex mt-15 justify-content-center">
            <div
              class="col-md-6 col-xs-6 pr-sm col-6"
              (click)="registerWithGoogle()"
            >
              <a class="btn btn-block btn-social btn-border">
                <img
                  class="w-20px mr-2"
                  src="./assets/images/google.png"
                  alt="google"
                  width="20px"
                  height="20px"
                />
                Google
              </a>
            </div>

            <div
              class="col-md-6 col-xs-6 pr-sm col-6"
              (click)="registerWithShopify()"
            >
              <a class="btn btn-block btn-social btn-border">
                <img
                  class="w-20px"
                  src="./assets/images/shopify-sm.svg"
                  alt="Shopify"
                  width="20px"
                  height="20px"
                />
                Phone No
              </a>
            </div>
          </div>
        </div>

        <!-- .. OR -->
        <div class="text-center ptb-tenpx">
          <p class="my-1 text-center fs-16px">
            <span class="dashed-border mb-2px"> </span> or
            <span class="dashed-border mb-2px"></span>
          </p>
        </div>

        <form novalidate (submit)="onSignupFormSubmit()" class="row g-3">
          <div class="col-xs-12 mb-3">
            <div class="row mb-md-2">
              <div class="col-xs col-md-12 col-lg-6">
                <label for="firstName" class="form-label">First Name </label>
                <input
                  type="text"
                  id="firstName"
                  class="form-control"
                  placeholder="First name"
                  aria-label="First name"
                />
              </div>
              <div class="col-xs col-md-12 col-lg-6">
                <label for="lastName" class="form-label">Last Name </label>
                <input
                  type="text"
                  id="lastName"
                  class="form-control"
                  placeholder="Last name"
                  aria-label="Last name"
                />
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>

      <div
        class="col-md-6 col-sm-12 d-flex flex-column justify-content-start order-m-1 order-s-2"
      >
        <div>
          <h1
            class="text-blackdark text-left fs-42px mt-4 sfprodisplay SFProDisplay-Bold mobfont-24"
          >
            <b> We Are More than Just a Shipping Partner</b>
          </h1>
          <ul
            class="text-blackdark list-style-type-none font-16 mt-4 pl-0"
            style="line-height: 35px"
          >
            <li>
              <img
                src="./assets/images/tickright.png"
                alt="checkCircle"
                width="20px"
                height="20px"
                class="w-20px me-3 mb-1"
              />
              <span class="SFProDisplay-Medium blck"
                >AI-Powered Courier Selection</span
              >
            </li>
            <li _ngcontent-sjc-c57="">
              <img
                _ngcontent-sjc-c57=""
                src="/sr_login/assets/images/tickright.png"
                alt="checkCircle"
                width="20px"
                height="20px"
                class="w-20px mr-3 mb-1"
              /><span _ngcontent-sjc-c57="" class="SFProDisplay-Medium blck"
                >Branded Order Tracking Page</span
              >
            </li>
            <li _ngcontent-sjc-c57="">
              <img
                _ngcontent-sjc-c57=""
                src="/sr_login/assets/images/tickright.png"
                alt="checkCircle"
                width="20px"
                height="20px"
                class="w-20px mr-3 mb-1"
              /><span _ngcontent-sjc-c57="" class="SFProDisplay-Medium blck"
                >Automated NDR Management</span
              >
            </li>
            <li _ngcontent-sjc-c57="">
              <img
                _ngcontent-sjc-c57=""
                src="/sr_login/assets/images/tickright.png"
                alt="checkCircle"
                width="20px"
                height="20px"
                class="w-20px mr-3"
              /><span _ngcontent-sjc-c57="" class="SFProDisplay-Medium blck"
                >Up To 45% Lesser RTOs</span
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="text-center mt-3 footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
