<div class="container-fluid px-0 auth-container fs-14">
  <div class="row auth">
    <div
      *ngIf="!showRegisterForm"
      class="col-8 col-lg-5 auth-card text-center p-5 signup-success position-relative"
    >
      <mat-icon>check_circle_outline</mat-icon>
      <h1 class="mb-3">
        You have successfully registered
        <br />
        Thank you!
      </h1>
      <p class="text-muted">
        You will receive a confirmation email shortly.
        <br />
        Take me to
        <a class="a-link" routerLink="../login"> Login screen </a>
      </p>
      <hr />
      <div class="text-black-50">Questions? Connect with us.</div>
      <div class="text-black-50 auth-note">
        Email Support:<a
          class="fs-14 a-link opacity-100"
          id="signupSuccessSupport"
          href="mailto:support@gscmaven.com"
          >support@gscmaven.com</a
        >
      </div>
      <div
        class="text-center position-absolute w-100 l-0"
        style="bottom: -4rem"
      >
        <app-footer></app-footer>
      </div>
    </div>

    <div
      *ngIf="showRegisterForm"
      class="col-10 col-md-8 col-lg-6 auth-card position-relative my-5 my-xl-0"
    >
      <div class="auth-logo">
        <img
          ngSrc="../assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
        />
      </div>

      <form
        [formGroup]="userForm"
        (submit)="registerCompanyDetails()"
        autocapitalize="off"
        autocomplete="off"
        class="auth-form mt-4rem"
      >
        <div class="auth-app__checkbox">
          <mat-checkbox formControlName="oms" class="maven_checkbox"
            >OMS</mat-checkbox
          >
          <mat-checkbox formControlName="fms" class="maven_checkbox ms-3"
            >FMS</mat-checkbox
          >
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">apartment</mat-icon>
              <input
                type="text"
                formControlName="company"
                class="form-control custom-input pl-2rem"
                placeholder="Company*"
              />
              <small
                class="text-danger"
                *ngIf="
                  ctrlByName('company').dirty &&
                  ctrlByName('company').hasError('required')
                "
                >Company name is required</small
              >
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">dns</mat-icon>
              <input
                type="text"
                formControlName="domain"
                class="form-control custom-input pl-2rem"
                placeholder="Domain*"
              />
              <small
                class="text-danger"
                *ngIf="
                  ctrlByName('domain').dirty &&
                  ctrlByName('domain').hasError('required')
                "
                >Company name is required</small
              >
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
              <input
                type="email"
                formControlName="email"
                class="form-control custom-input pl-2rem"
                placeholder="Email ID*"
              />
              <span *ngIf="ctrlByName('email').dirty">
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('email').hasError('email')"
                  >Email ID is invalid</small
                >
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('email').hasError('required')"
                  >Email ID is required</small
                >
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">phone_android</mat-icon>
              <input
                type="tel"
                maxlength="10"
                formControlName="phone"
                class="form-control custom-input pl-2rem"
                placeholder="Mobile Number*"
              />
              <span *ngIf="ctrlByName('phone').dirty">
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('phone').hasError('required')"
                  >Phone is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('phone').hasError('pattern')"
                  >Should have only numbers<br
                /></small>
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('phone').hasError('minlength')"
                  >Should be 10 digits<br
                /></small>
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">person</mat-icon>
              <input
                type="text"
                formControlName="fname"
                class="form-control custom-input pl-2rem"
                placeholder="First Name*"
              />
              <small
                class="text-danger"
                *ngIf="
                  ctrlByName('fname').dirty &&
                  ctrlByName('fname').hasError('required')
                "
                >First name is required</small
              >
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">person</mat-icon>
              <input
                type="text"
                formControlName="lname"
                class="form-control custom-input pl-2rem"
                placeholder="Last Name*"
              />
              <small
                class="text-danger"
                *ngIf="
                  ctrlByName('lname').dirty &&
                  ctrlByName('lname').hasError('required')
                "
                >Last name is required</small
              >
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">key</mat-icon>
              <input
                type="password"
                formControlName="password"
                autocomplete="new-password"
                class="form-control custom-input pl-2rem"
                placeholder="Password*"
              />
              <div *ngIf="ctrlByName('password').dirty">
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('password').hasError('required')"
                  >Password is required <br
                /></small>
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('password').hasError('minlength')"
                  >Password must be at least 8 characters long <br
                /></small>
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('password').hasError('pattern')"
                >
                  Password should contain one letter,one character and one
                  special character
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="custom-input-goup mb-3">
              <mat-icon class="fs-5 input-icon-s">key</mat-icon>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control custom-input pl-2rem"
                placeholder="Confirm Password*"
              />

              <span *ngIf="ctrlByName('confirmPassword').dirty">
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('confirmPassword').hasError('required')"
                  >Confirm Password is required
                  <br />
                </small>
                <small
                  class="text-danger"
                  *ngIf="ctrlByName('confirmPassword').hasError('mismatch')"
                >
                  Please re-enter the password, your passwords don't match
                </small>
              </span>
            </div>
          </div>
        </div>

        <div class="mb-3 auth-ack text-start">
          <mat-checkbox formControlName="iAgree" class="maven_checkbox">
            I acknowledge that I have read and agree to the
            <a class="a-link link-blue">Terms of Service</a>
            and
            <a class="a-link link-blue">Privacy Policy</a>
          </mat-checkbox>
          <br />
          <small
            class="text-danger"
            *ngIf="
              ctrlByName('lname').dirty &&
              ctrlByName('lname').hasError('required')
            "
            >Required field</small
          >
        </div>

        <div class="d-grid gap-2">
          <button class="btn auth-btn" type="submit">Register</button>
        </div>

        <div class="divider"><span>OR</span></div>

        <div class="auth-note">
          if you already a registerd user
          <a routerLink="/login" class="a-link fs-14">Login</a>
        </div>
      </form>

      <div
        class="text-center position-absolute w-100 l-0 mb-2"
        style="bottom: -4rem"
      >
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
