<div class="container-fluid px-16">
  <h1 class="h2 fw-bold my-4">
    Orders

    <div class="float-end">
      <button
        mat-button
        routerLink="../add-order/single"
        class="me-2 btn add-sync-btn bg-primary-subtle text-primary"
      >
        <mat-icon>add</mat-icon>
        Add Order
      </button>
      <button mat-button class="me-2 add-sync-btn btn">
        <mat-icon>sync</mat-icon>
        Sync Orders
      </button>
    </div>
  </h1>

  <nav class="nav o2-nav mb-3">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div class="nav-item dropdown">
        <button
          tabindex="-1"
          class="nav-link d-inline-flex"
          [attr.data-bs-toggle]="tab.dropdown ? 'dropdown' : null"
          [ngClass]="{
            active: tabs[activeTabIdx].name === tab['name'],
            'dropdown-toggle': tab.isCustom
          }"
          (click)="onTabClick(i)"
          (keyup)="onTabClick(i)"
        >
          {{ tab['name'] }}
        </button>
        <ul class="dropdown-menu bulk-actions-dropd">
          <li>
            <button class="dropdown-item">Rename view</button>
          </li>

          <li>
            <button class="dropdown-item text-danger">Delete view</button>
          </li>
        </ul>
      </div>
    </ng-container>
    <div class="nav-item" *ngIf="activeTabIdx === 0">
      <button
        tabindex="-1"
        class="nav-link d-inline-flex"
        title="Add new"
        (click)="openUpdateTabDialog('add')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </nav>

  <div class="my-4 position-relative">
    <span class="right-btns-section">
      <button class="btn more-filter-btn border">
        <img src="assets/svg/download.svg" height="18" width="18" alt="" />
      </button>
      <div class="dropdown d-inline mt-2">
        <button
          style="width: 168px"
          class="btn more-filter-btn border me-0"
          type="button"
          data-bs-toggle="dropdown"
          data-bs-offset="5,5"
          aria-expanded="false"
        >
          Select Bulk Action
          <mat-icon class="ms-auto">expand_more</mat-icon>
        </button>

        <ul class="dropdown-menu bulk-actions-dropd">
          <ng-container
            [ngTemplateOutlet]="
              isManifestTab ? bulkForManifest : bulkForGeneric
            "
          ></ng-container>
        </ul>
      </div>
    </span>
    <app-filters [showSave]="activeTabIdx === 0" [filtersData]="filtersData" />
  </div>

  <div class="table-responsive mb-3">
    <app-generic-tab *ngIf="!isManifestTab" [dataSource]="dataSource" />
    <app-manifest-tab *ngIf="isManifestTab" [dataSource]="dataSource" />
    <mat-paginator
      *ngIf="pagination"
      [pageSizeOptions]="pagination.pageSizeOptions"
      [length]="pagination.length"
      [pageSize]="pagination.pageSize"
      [pageIndex]="pagination.currentPage"
      (page)="handlePageEvent($event)"
    ></mat-paginator>
  </div>
</div>

<ng-template #updateTabTemplate let-data>
  <h1 mat-dialog-title class="h2 d-flex align-items-center mt-2 pb-0">
    {{ data.title }}
    <small role="button" mat-dialog-close class="btn-close ms-auto"></small>
  </h1>
  <div mat-dialog-content class="pb-0">
    <div class="mb-3" *ngIf="!['delete'].includes(data.context)">
      <label for="name" class="form-label"
        >Name
        <span *ngIf="data.context === 'add'">({{ tabLen + 1 }}/5)</span></label
      >
      <input
        type="text"
        [(ngModel)]="data.tab.name"
        class="form-control"
        autocomplete="new-password"
        (ngModelChange)="onUpdateTabName($event)"
        id="name"
      />
    </div>
    <div class="my-3" *ngIf="['delete'].includes(data.context)">
      This can’t be undone. {{ data.tab.name }} view will no longer be available
      in your admin.
    </div>
  </div>
  <div mat-dialog-actions class="justify-content-center mb-3">
    <button class="btn btn-outlined me-3" mat-dialog-close>Cancel</button>
    <button
      class="btn btn-solid"
      [disabled]="
        !data.tab.name?.length ||
        (data.context === 'add' && tabLen > 4) ||
        isDuplicateName()
      "
      [mat-dialog-close]="data.tab"
      *ngIf="!['delete'].includes(data.context)"
    >
      Save
    </button>
    <button
      mat-button
      mat-dialog-close="delete"
      *ngIf="['delete'].includes(data.context)"
      class="text-white bg-danger"
    >
      Delete
    </button>
  </div>
</ng-template>

<ng-template #bulkForGeneric>
  <li>
    <button class="dropdown-item" type="button">QC Verify</button>
  </li>
  <li>
    <button class="dropdown-item" type="button">Pack</button>
  </li>
  <li>
    <button class="dropdown-item" type="button">Generate Manifest</button>
  </li>
  <li>
    <button class="dropdown-item" type="button">Handover</button>
  </li>
</ng-template>

<ng-template #bulkForManifest>
  <li>
    <button class="dropdown-item" type="button">Handover</button>
  </li>
  <li>
    <button class="dropdown-item" type="button">Complete</button>
  </li>
  <li>
    <button class="dropdown-item text-danger" type="button">Delete</button>
  </li>
</ng-template>
