<div class="text-primary">
  <a
    tabindex="-1"
    class="a-link"
    href="javascript:void(0);"
    (click)="openDialog(name.tnc)"
    >Terms of Service</a
  >
  |
  <a
    tabindex="-1"
    class="a-link"
    href="javascript:void(0);"
    (click)="openDialog(name.pp)"
    >Privacy Policy</a
  >
</div>
<small class="text-center mt-2 text-white-50">
  Copyright &COPY; 2017 Glaucus Logistics Private Limited
</small>

<ng-template #dialogTemplate let-data>
  <div mat-dialog-title class="bg-info-subtle pt-2 d-flex align-items-center">
    <h1 class="h2">{{ data.heading }}</h1>
    <button
      type="button"
      class="btn-close ms-auto"
      aria-label="Close"
      mat-dialog-close
    ></button>
  </div>
  <div mat-dialog-content>
    <!-- eslint-disable-next-line @angular-eslint/template/alt-text -->
    <object
      [data]="data.src"
      type="application/pdf"
      class="w-100"
      style="height: 100vh"
    ></object>
  </div>
  <div class="mb-3"></div>
</ng-template>
