::ng-deep .recharge-popup .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 1.5em;
}

.bg-form {
  background-color: #f2f8ff;
  border-radius: 0.5em;
}

.currency-code {
  top: 0.5em;
  left: 0.5em;
}

.input-clear {
  top: 1em;
  right: 1em;
}

.apply-coupon {
  top: 0.4em;
  right: 0;
}
