<div class="container-fluid px-0 register-container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-5 form-container">
      <div class="text-center pt-5">
        <img
          ngSrc="../assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
          style="height: auto"
        />
      </div>

      <form autocomplete="off" class="main-form">
        <div class="input-group mb-3 position-relative">
          <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
          <input
            type="text"
            class="form-control input-custom pl-2rem"
            placeholder="User Name or Email ID*"
          />
        </div>

        <div>
          <a href="javascript:void(0);" class="a-link">Forgot password ?</a>
        </div>
      </form>
    </div>
  </div>
</div>
