<div class="container-fluid px-0 auth-container">
  <div class="row auth">
    <div class="col-10 col-md-8 col-lg-5 auth-card">
      <div class="auth-logo">
        <img
          ngSrc="../assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
        />
      </div>

      <form autocomplete="off" class="auth-form">
        <div class="custom-input-goup mb-3 fs-14">
          <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
          <input
            type="text"
            class="form-control custom-input pl-2rem"
            placeholder="User Name or Email ID*"
          />
        </div>

        <div class="custom-input-goup mb-3">
          <mat-icon class="fs-5 input-icon-s">key</mat-icon>
          <input
            type="password"
            class="form-control custom-input pl-2rem"
            placeholder="User Name or Email ID*"
          />
        </div>

        <div class="mb-3">
          <a routerLink="/forgotPassword" class="a-link link-blue fs-14"
            >Forgot password ?</a
          >
        </div>

        <div class="d-grid gap-2">
          <button class="btn auth-btn" type="button">Next</button>
          <button hidden class="btn auth-btn" type="button">Log In</button>
        </div>

        <div class="divider"><span>OR</span></div>
        <div class="auth-note">
          If you're not a registered user, please contact
          <a class="a-link" href="mailto:support@gscmaven.com"
            >support@gscmaven.com</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
