<div class="container-fluid px-0 auth-container">
  <div class="row auth">
    <div class="col-10 col-md-8 col-lg-5 auth-card">
      <div class="auth-logo">
        <img
          ngSrc="src/assets/images/logo-big.png"
          alt="logo"
          width="300"
          height="60"
          priority
        />
      </div>

      <form
        [formGroup]="userForm"
        (submit)="onSubmit()"
        autocomplete="off"
        class="auth-form"
      >
        <div class="custom-input-goup mb-3 fs-14">
          <mat-icon class="fs-5 input-icon-s">mail</mat-icon>
          <input
            type="text"
            formControlName="email"
            class="form-control custom-input pl-2rem"
            placeholder="User Name or Email ID*"
          />
        </div>

        <div
          class="custom-input-goup mb-3"
          [hidden]="ctrlByName('password').disabled"
        >
          <mat-icon class="fs-5 input-icon-s">key</mat-icon>
          <input
            type="password"
            formControlName="password"
            autocomplete="new-password"
            class="form-control custom-input pl-2rem"
            placeholder="Enter password*"
          />
        </div>

        <div class="mb-3">
          <a routerLink="/forgotPassword" class="a-link link-blue fs-14"
            >Forgot password ?</a
          >
        </div>

        <div class="d-grid gap-2">
          <button
            class="btn auth-btn"
            type="submit"
            *ngIf="!userClientsList.length"
          >
            Next
          </button>
          <button *ngIf="isClientSelected" class="btn auth-btn" type="submit">
            Log In
          </button>
        </div>

        <div class="divider"><span>OR</span></div>
        <div class="auth-note">
          If you're not a registered user, please contact
          <a class="a-link" href="mailto:support@gscmaven.com"
            >support@gscmaven.com</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #emailError>
  <div mat-dialog-title class="bg-info-subtle">
    <span class="h4">Email Not Verified</span>
    <button
      type="button"
      class="btn-close float-end mt-3"
      aria-label="Close"
      mat-dialog-close
    ></button>
  </div>
  <div mat-dialog-content>
    <p>
      Your email has not been verified yet. Please click on the activation link
      sent to your email or
      <a
        class="a-link"
        href="javascript:void(0);"
        (click)="resendActivationLink()"
        >click here</a
      >
      to resend the activation link.
    </p>
  </div>
  <div mat-dialog-actions class="justify-content-center mb-3">
    <button cdkFocusInitial mat-stroked-button mat-dialog-close>OK</button>
  </div>
</ng-template>
