<div class="d-flex justify-content-between {{ panelClass }}">
  <input
    id="digit-1"
    appOnlyNumbers
    type="tel"
    maxlength="1"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp1"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    id="digit-2"
    maxlength="1"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp2"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    id="digit-3"
    maxlength="1"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp3"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    maxlength="1"
    id="digit-4"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp4"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    id="digit-5"
    maxlength="1"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp5"
    (keyup)="onInputChange($event)"
  />
  <input
    type="tel"
    appOnlyNumbers
    id="digit-6"
    maxlength="1"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp6"
    (keyup)="onInputChange($event)"
  />
</div>
