<div class="d-flex justify-content-between {{ panelClass }}">
  <input
    appOnlyNumbers
    type="tel"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp1"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp2"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp3"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp4"
    (keyup)="onInputChange($event)"
  />
  <input
    appOnlyNumbers
    type="tel"
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp5"
    (keyup)="onInputChange($event)"
  />
  <input
    type="tel"
    appOnlyNumbers
    class="form-control text-center otp-input"
    required
    [(ngModel)]="otp6"
    (keyup)="onInputChange($event)"
  />
</div>
