<div
  class="form-control chipbox"
  [ngClass]="{ 'chipbox-focus': isInputFocused }"
>
  <mat-chip-grid
    #chipGrid
    [hidden]="!keywords.length"
    class="chipbox-grid"
    aria-label="Enter keywords"
    [formControl]="chipControl"
  >
    <mat-chip-row
      class="hello"
      *ngFor="let keyword of keywords"
      (removed)="removeKeyword(keyword)"
    >
      {{ keyword }}
      <button matChipRemove [attr.aria-label]="'remove ' + keyword">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>
  <input
    #inputCtrl
    (focus)="isInputFocused = true"
    (blur)="isInputFocused = false"
    class="chipbox-input"
    [placeholder]="placeholder"
    [matChipInputFor]="chipGrid"
    (matChipInputTokenEnd)="addKeyword($event)"
    [formControl]="inputControl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  />
  <mat-autocomplete
    hideSingleSelectionIndicator="true"
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
  >
    <mat-option
      *ngFor="let keyword of filteredKeywords | async"
      [value]="keyword"
    >
      {{ keyword }}
    </mat-option>
  </mat-autocomplete>
</div>
