@use '../utils' as u;

$primary: u.$primary1;
$danger: u.$secondary2a;

// Form label
$form-label-font-size: u.rem(12);
$form-label-font-weight: 500;
$form-label-color: u.$neutral1a;

// Form control (input)
$input-font-size: u.rem(12);
$input-placeholder-color: u.$neutral3;
$input-border-radius: u.rem(8);
$input-padding-y: u.rem(8);
$input-focus-box-shadow: 0 u.rem(2) u.rem(8) 0 u.$neutral3a;
$input-focus-border-color: u.$primary1;
$input-disabled-bg: u.$neutral4a;
$input-disabled-color: u.$neutral3b;
$input-disabled-border-color: u.$neutral3c;

// Invalid Form Control
$form-feedback-icon-invalid: none;
$form-feedback-font-size: u.rem(10);
$form-feedback-invalid-color: u.$secondary2;

// Checkbox
$form-check-input-width: 1.2em;
$form-check-input-focus-box-shadow: none;
