<nav class="navbar bg-white">
  <div class="container-fluid">
    <img src="../../assets/svg/glaucus_logo.svg" alt="logo" width="120" />

    <div class="d-flex mt-4 mt-sm-0">
      <div class="d-flex align-items-center">
        <div class="icon-btn1">
          <mat-icon class="mt-1 ms-1 fs-5">person</mat-icon>
        </div>
        <div class="ms-2 text-capitalize">Hi {{ auth.getUsername() }}</div>
      </div>

      <button mat-button class="ms-2 logout-btn" (click)="auth.logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </div>
</nav>

<div class="container-fluid app">
  <div class="row align-items-center justify-content-center app-row">
    <ng-container *ngFor="let app of apps">
      <div
        tabindex="-1"
        class="card mx-3 app-card {{ app.id }}"
        role="button"
        (keypress)="onClickApp(app.id)"
        (click)="onClickApp(app.name)"
      >
        <mat-icon>{{ app.logo }}</mat-icon>
        <h1>{{ app.name }}</h1>
        <p>{{ app.fullname }}</p>
      </div>
    </ng-container>
  </div>
</div>
