@use '../../../styles/utils' as u;

.logout-btn {
  &:hover {
    color: u.$color5 !important;
    .icon-btn1 {
      background-color: u.$color5;
      color: white;
    }
  }
}

.app {
  height: calc(100% - 60px);

  &-row {
    height: 100%;
  }

  &-card {
    border: none;
    width: u.rem(300);
    padding: u.rem(50) u.rem(20);
    box-shadow: var(--bx-shd);
    border-radius: u.rem(11);
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
    position: relative;

    &:hover {
      box-shadow: var(--bx-shd-hv);
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: u.rem(11);
      transition: opacity 0.4s ease-in-out;
    }

    &:hover::before {
      opacity: 1;
    }

    & > * {
      margin-inline: auto;
      font-size: u.rem(31);
    }

    .mat-icon {
      width: u.rem(31);
      height: u.rem(31);
      z-index: 1;
    }

    h1 {
      margin-bottom: 0;
      z-index: 1;
    }

    p {
      font-size: u.rem(13);
      margin-bottom: 0;
      z-index: 1;
    }
  }
}

.fms {
  background: var(--pink-gra);

  &::before {
    background: var(--pink-gra-op);
  }
}

.oms {
  background: var(--orange-gra);

  &:before {
    background: var(--orange-gra-op);
  }
}

.wms {
  background: var(--light-blue-gra);

  &:before {
    background: var(--light-blue-gra-op);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
