@use '../../../styles/utils' as u;

.logout-btn {
  &:hover {
    color: u.$primary1;
  }
}

.navbar {
  background-color: u.$secondary5c;
}

.app {
  background-color: u.$secondary5c;
  height: calc(100% - 60px);

  &-row {
    height: 100%;
  }

  &-card {
    width: u.rem(300);
    padding: u.rem(50) u.rem(20);
    text-align: center;

    &:hover {
      color: u.$primary1;
      border-color: u.$primary1;
      cursor: pointer;
    }
  }

  &-icon {
    text-align: center;

    .mat-icon {
      width: u.rem(31);
      height: u.rem(31);
      font-size: u.rem(31);
    }
  }
}
